.perfil-completo{
  margin:0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:70%;
}
.data_perfil{
  margin-right: 50px;
  position: relative;
}
.data_box{
  margin-top: 60px;
}
.avatar{
   position: absolute;
   left: 15%;
   height: 150px;
   width: 150px;
   border-radius: 50%;
   border-style:solid ;
   border-color: white;
   top:-100px;
 }
#line{
color:#e5e6e6;
opacity: 0.4;
}

.avatar-user{
  top: 100px;
  width:100%;
  height:240px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-image: url('https://images.pexels.com/photos/382177/pexels-photo-382177.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');
}

.perfil_user{
    width:80%;
    margin: 0 auto;
}
.avatar:hover {
-webkit-transform:scale(1.3);transform:scale(1.3);
}
.back{
    display: flex;
}


.avatar:hover {
-webkit-transform:scale(1.3);transform:scale(1.3);
}


.avatar-user h1{
  position: relative;
  top:50%;
  justify-content: center;
   color: white;
}
.submenu-position{
  margin: 0 auto;
  position: absolute;
   top: 10%;
}

/* tabla de ant:  */
.custom-filter-dropdown {

  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
  width: 130px;
  margin-right: 8px;
}

.highlight {
  color: #f50;
}

/* pedidos form:  */
.pedidos-table{
max-width: 120%;
max-height: 90%;
}
/* tabs */
.tabs{
  margin-top: 78px;
justify-content: center;
max-width: 600px;
min-width: 200px;


}
.box_back{
    width:80%;
    margin: 0 auto;
}
#img{
  width:80px;
  height: 80px;
}



@media screen and (max-width: 430px) {

  .avatar{
    position: absolute;
    left: 50%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-style:solid ;
    border-color: white;
    top:-50px;
  }
}

@media screen and (max-width: 420px) {

  .avatar{

    left: 45%;

  }
}
@media screen and (max-width: 380px) {

  .avatar{

    left: 40%;

  }
}
